<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<title>Чайный Бум</title>

	<link rel="preload" as="font" type="font/woff2" href="fonts/Forum/Forum-Regular.woff2">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="description" content="Чайный Бум" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="icon" href="img/favicon/favicon.ico" sizes="any" />
	<link rel="shortcut icon" href="img/favicon/favicon.ico" />

	<meta property="og:locale" content="ru" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Чайный Бум" />
	<meta property="og:description" content="Чайный Бум" />

	<link rel="stylesheet" href="css/header.min.css?v=163426"/>
	<link rel="stylesheet" href="css/main.min.css?v=163426"/>
	<link rel="stylesheet" href="css/footer.min.css?v=163426"/>

	{% if isBuild %}
	<script src="{{ 'js/main-bundle.js' | asset }}"></script>
	{% else %}
	<script type="module" src="js/main-bundle.js"></script>
	{% endif %}
</head>
